body{
	background-image: url("../Images/black-jack-background2.gif");
}

.the-table{
	background-color: #277714;
	border: 5px solid #663300;
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0px;
	width: 90%;
	margin: auto;
	margin-top: 40px;

}


.card{
	height: 120px;
	width: 90px;
	/* background-color: #476622; */
	color: black;
	margin: 10px;
	position: relative;

}

button{
	width: 100%;
}

img{
	
	width: 90px;
	height: 120px;
	position: absolute;
	left: 0;
}

.someButtons{
	padding-top: 70px;
}

#spaceForText{
	font-size: 24px;
	font-weight: 700;
	color: gold;
}

/* for disabled buttons */
.disabled{
	background-color: grey;
}
.disabled:hover{
	background-color: grey;
}