body{
	background-image: url("../Images/red-carpet.jpg");
}

.the-table{
	background-color: #277714;
	border: 5px solid #663300;
	border-radius: 5% 5% 50% 50%;
	margin-top: 50px;
	padding: 30px 0px;
	width: 90%;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
	transform: perspective(100em) rotateX(35deg);

}

.player-hand-wrapper{
	height: 150px;
}

.card{
	height: 120px;
	width: 90px;
	/* background-color: #476622; */
	color: black;
	margin: 10px;
	margin-left: 25px;
	position: relative;
	transition: all 1.5s;

}

.card:hover{
	transform: rotateY(360deg);
}

button{
	width: 100%;
}

img{
	
	width: 90px;
	height: 120px;
	position: absolute;
	left: 0;
}

.someButtons{
	padding-top: 10px;
	height: 80px;

}

#spaceForText{
	font-size: 20px;
	font-weight: 700;
	color: gold;
	height: 40px;
}

/* for disabled buttons */
.disabled{
	background-color: grey;
}
.disabled:hover{
	background-color: grey;
}



.stool{
	height: 200px;
	width: 175px;
	margin-left: -51px;
}